<header>
  <h1>
    Welcome to Another book
  </h1>
  <h2>
    We're using Rails <%= Rails.version %>
  </h2>
</header>
<section>
  <p>
    Future home of another tutorial dashboard
  </p>
</section>
